.Loader{   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: var(--primary-color);
    width: 100vw;
    img{
        margin: 150px;
    }
    p{
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 5px;
        color: var(--secondary-color);
    }
}
@media screen and (max-width:600px){
    .Loader{
        img{
            height: 200px;
        }
    }
}