.Landpage{
    height: 100vh;
    width: 100vw;
    background-color:var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    .Nav{
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 25px;
        overflow-y: hidden;
        .logo{
            img{
                height: 30px;
                cursor: pointer;
                width: 30px;
            }
        }
        h1{
            color:var(--secondary-color);
            opacity: 0;
            padding: 12px;
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            li{
                color:var(--secondary-color);
                display: flex;
                align-items: center;
                border-radius: 100%;
                padding: 8px;
                margin: 0px 5px;
                list-style: none;
                cursor: pointer;
                // border: 1px solid white;
            }
        }
    }
    .body{
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &_head{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 0px;
            .head_left{
                h2{
                    color: var(--secondary-color);
                    font-size: clamp(10px,1.8vw,100px);
                    font-family: 'Poiret One', cursive;
                }
            }
            .head_right{
                p{
                    color: rgba(225, 225, 225, 0.5);
                }
            }
        }
        &_mid{
            width: 100%;
            h1{
                font-family: 'Belanosima', sans-serif;
                font-family: 'Poiret One', cursive;
                font-size: clamp(5px,15vw,250px);
                letter-spacing: clamp(5px,1vw,20px);
                color: var(--secondary-color);
                span{
                    color: var(--tertiary-color);
                }
            }
        }
        &_foot{
            width: 100%;
            background-color: grey;
        }
    }
    .foot{
        width: 100%;
        padding: 25px;
        height: 10%;
        h1{
            font-size: clamp(15px,1.5vw,40px);
            color: var(--secondary-color);
            font-weight: 100;
        }
    }
}