*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.Skills{
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_Logo{   
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        img{
            margin: 150px;
        }
        p{
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 5px;
            color: var(--secondary-color);
        }
    }
    &_Main{
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width:600px){
    .Skills{
        &_Logo{
            img{
                width: 80%;
            }
        }
    }
}