@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Belanosima:wght@600&family=Bodoni+Moda&family=Fredericka+the+Great&family=Great+Vibes&family=Indie+Flower&family=Pacifico&family=Playfair+Display&family=Poiret+One&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}
.App{
  // overflow-y: scroll;
}

body::-webkit-scrollbar{
  display: none;
}

// font-family: 'Alex Brush', cursive;
// font-family: 'Belanosima', sans-serif;
// font-family: 'Bodoni Moda', serif;
// font-family: 'Fredericka the Great', cursive;
// font-family: 'Great Vibes', cursive;
// font-family: 'Indie Flower', cursive;
// font-family: 'Pacifico', cursive;
// font-family: 'Playfair Display', serif;
// font-family: 'Poiret One', cursive;
:root{
  --primary-color:#222222;
  --secondary-color:#e9e9e9;
  --tertiary-color:#965dff;
}
